@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}
#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #92c2a6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculator {
  border: 2px solid #a7a7ab;
  padding: 5px;
  background: #149;
  width: 320px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px black;
}

.formulaScreen {
  min-height: 25px;
  font-family: digital;
  font-size: 25px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid grey;
  margin-top: 1px;
  padding: 5px;
  border-radius: 5px;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
  border: 1px solid grey;
  margin-bottom: 5px;
  border-radius: 5px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #adbd4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
  border-radius: 5px;
}
button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.jumbo {
  width: 160px;
}

.author {
  text-align: center;
  font-family: arial, sans;
  margin-top: 40px;
  background-color: #ddd;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
}
.author a {
  text-decoration: none;
  color: #44264d;
  line-height: 36px;
}
